extends layout.pug 
include mixins/form

block header 
    include partials/header

block content 
    if(!path)
        h3 Home 
    if(path === "/login")
        include partials/loginForm 
    if(path === "/register")
        include partials/registrationForm